.header {
	width: 1170px;
	max-height: 100px;
	background-color: #ffffff;
	box-sizing: border-box;
	display:table;
	margin: 0 auto;
}

.logo {
	width: 177px;
	height: 39px;
	color: #2c71b8;
	font-family: "Roboto - Thin";
	font-size: 42px;
	font-weight: 400;
	display: inline-block;
	margin-right: 120px;
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	}

#logo {
	font-family: Roboto;
	font-weight: 700;
	}

#here {
	font-family: "Roboto Thin";
	font-weight: 100;
	}

.menu {
	float:left;
}

.menu li {
	list-style-type: none;
	display:inline-block;
	box-sizing: border-box;
	text-align: center;
	border-right:1px solid #2c71b8;	
	margin-left: 0px;

}

.menu li a {
	text-decoration: none;
	color: #2c71b8;
	font-family: Roboto;
	font-size: 21px;
	font-weight: 300;
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	width:140px;
}

#first-in-menu {
	border-left:1px solid #2c71b8;
	margin-left:120px;
}

.menu li a:hover {
	color: #ffffff;
	background-color: #2c71b8;
}